#Decrease timeout times for testing

CONFIG_ISBD_SBD_SESSION_TIMEOUT=300
CONFIG_ISBD_TIMEOUT_IF_NO_SIGNAL=300
CONFIG_ISBD_TX_RETRY_INTERVAL=20
CONFIG_ISBD_TX_RETRIES=10
CONFIG_ISBD_MSSTM_BEFORE_TX=n
CONFIG_ISBD_MSSTM_RETRIES=10
CONFIG_ISBD_MSSTM_RETRY_INTERVAL=20

CONFIG_ISBD_TEST_MODE=n

CONFIG_KCONFIG_USEMODULE_AT=y
CONFIG_AT_SEND_EOL_WINDOWS=y
